@import "reset.css" screen;

@font-face {
   font-family: PFDinTextCondProRegular;
   src: url('../fonts/PFDinTextCondPro-Regular_3.ttf');
}

@font-face {
   font-family: PFDinTextCondProMedium;
   src: url('../fonts/PFDinTextCondPro-Medium_2.ttf');
}

@font-face {
   font-family: PFDinTextCondProMediumItalic;
   src: url('../fonts/PFDinTextCondPro-MedItal.ttf');
}


@font-face {
   font-family: PFDinTextCondProItalic;
   src: url('../fonts/PFDinTextCondPro-Italic_0.ttf');
}

@font-face {
   font-family: PFDinTextCondProMediumBold;
   src: url('../fonts/PFDinTextCondPro-Bold_0.ttf');
}

* {
   font-family: Arial;
}

body {
   background: #ececec;
}

h1{
   font-family: PFDinTextCondProMediumItalic;
   font-size: 40px;
   line-height: 60px;
   color: #231f20;
   border-bottom: #231f20 solid 8px;
   margin-bottom: 20px;
}

h1.big{
   font-size: 48px;
   margin-top: 20px;
}

h1 span{
   font-family: PFDinTextCondProMedium;
   font-size: 28px;
   color: #d6d6d6;
}

h2{
   font-family: PFDinTextCondProMedium;
   font-size: 25px;
   margin-top: 55px;
   padding-bottom: 6px;
   border-bottom: 2px solid #231f20;
   color: #231f20;
}

h2.title-content{
   border: none;
   color: #d6d6d6;
   padding-bottom: 0px;
   margin-bottom: -20px;
}

h2 span{
   font-family: PFDinTextCondProRegular;
   color: #272727;
}

p{
   color: #272727;
   font-family: PFDinTextCondProRegular;
   font-size: 18px;
   line-height: 27px;
}

.all-w{
   width: 100%;
   margin: 40px 0 30px 0;
}

.mar20{
   margin-right: 20px;
}

.w1094 {
   width: 100%;
   margin: 0 auto;
}

.w1053 {
   width: 1053px;
   margin: 0 auto;
}

.logo {
   background: url('../img/logo.png');
   width: 288px;
   height: 100px;
   cursor: pointer;
   margin: 0 0 0 35px;
   float: left;
}

.head {
   height: 183px;
   width: 100%;
   background: #ffffff;
   padding-top: 42px;
}

.prehead{
   height: 38px;
   width: 100%;
   line-height: 38px;
   font-family: PFDinTextCondProRegular;
   font-size: 16px;
   color: #6c6c6c;
}

.right{
   float: right;
   color: #231f20;
   white-space: nowrap;
   font-family: PFDinTextCondProMedium;
}

.right a{
   color: #231f20;
   margin-right: 5px;
}

.right a:hover{
   color: #6c6c6c;
}

.top-menu{
   height: 44px;
   padding: 0 13px;
   background: #ffffff;
   margin-top: 5px;
}

.one-top-menu{
   float: left;
   margin: 0 32px;
   line-height: 44px;

}

.inner-menu .one-top-menu a{
   color: #231f20;
}

.inner-menu .one-top-menu.active a{
   color: #9bc0da;
}

.one-top-menu a{
   font-size: 20px;
   color: #9bc0da;
   font-family: PFDinTextCondProMedium;
   text-decoration: none;
}

.one-top-menu a:hover{
   color: #6c6c6c;
}

.right-top{
   width: 235px;
   float: right;
   margin-top: 39px;
}

.phone-head{
   float: left;
   width: 207px;
   margin: 33px 0 0 30px;
}

.phone{
   color: #000000;
   font-size: 30px;
   line-height: 40px;
   font-family: PFDinTextCondProMedium;
}

.addr{
   font-size: 16px;
   line-height: 5px;
   font-family: PFDinTextCondProMedium;
   color: #231f20;
   margin-bottom: 20px;
}

.button{
   padding: 0 33px;
   height: 35px;
   line-height: 35px;
   color: #ffffff;
   font-family: PFDinTextCondProRegular;
   background: #231f20;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   display: inline-block;
   cursor: pointer;
}

.button:hover{
   background: #9bc0da;
}

.blue-button{
   padding: 0 33px;
   height: 35px;
   line-height: 35px;
   color: #ffffff;
   font-family: PFDinTextCondProRegular;
   background: #9bc0da;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   display: inline-block;
   cursor: pointer;
}

.blue-button:hover{
   background: #231f20;
}

.slider{
   width: 100%;
   height: 405px;
   margin-top: 5px;
   border-bottom: 12px solid #231f20;
   margin-bottom: 10px;
   position: relative;
   overflow: hidden;
}

.arr_left{
   background: url('../img/left-arr.png');
   width: 23px;
   height: 126px;
   cursor: pointer;
   opacity: 1;
   position: absolute;
   margin-top: 140px;
   z-index: 10;
}

.arr_left:hover{
   opacity: 0.8;
}

.arr_right{
   background: url('../img/right-arr.png');
   width: 23px;
   height: 126px;
   cursor: pointer;
   opacity: 1;
   position: absolute;
   margin-top: 140px;
   right: 0;
   z-index: 10;
}

.arr_right:hover{
   opacity: 0.8;
}


.one-point {
   display: inline-block;
   height: 28px;
   width: 22px;
   background: url('../img/shape.png') no-repeat scroll 0 4px;
   cursor: pointer;
}

.one-point.active{
   background: url('../img/active-shape.png');
   width: 28px;
   height: 28px;
}

.one-point:hover{
   opacity: 0.6;
}

.point{
   width: 100%;
   position: absolute;
   text-align: center;
   height: 28px;
   line-height: 28px;
   margin-top: 356px;
   z-index: 11;
}

.banner{
   background: url('../img/left-banner.png');
   width: 292px;
   height: 196px;
   float: left;
   padding-top: 310px;
   text-align: center;
}

.service{
   float: left;
   width: 253px;
   height: 252px;
   cursor: pointer;

}

.service:hover{
   opacity: 0.8;
}

.slide{
   position: absolute;
   text-align: center;
   width: 100%;
   overflow: hidden;
   opacity: 0;
}

.slide.active{
   opacity: 1;
}



.counter{
   position: absolute;
   background: url('../img/white-shape.png');
   width: 43px;
   height: 43px;
   text-align: center;
   line-height: 43px;
   margin: 12px 0 0 190px;
   font-family: PFDinTextCondProMedium;
   color: #231f20;
}

.clear{
   clear: both;
}

.text{
   width: 253px;
   height: 252px;
   vertical-align: middle;
   font-family: PFDinTextCondProMedium;
   color: #231f20;
   font-size: 22px;
   line-height: 26px;
   position: absolute;
}

.text a{
   color: #231f20;
   text-decoration: none;
}

.text div{
   vertical-align: middle;
   position: absolute;
   top: 50%;
   text-align: center;
   width: 100%;
   margin-top: -26px;
}

.white-block{
   width: 298px;
   padding-left: 45px;
   vertical-align: middle;
   background: #ffffff;
   padding-top: 38px;
   height: 88px;
   float: left;
   margin: 12px 0 0 12px;
   color: #231f20;
   font-size: 18px;
   line-height: 27px;
   font-family: PFDinTextCondProRegular;
   margin-bottom: 25px;
}

.white-block a{
   padding-top: 38px;
   text-decoration: none;
   color: #231f20;
}

.white-block a:hover{
   text-decoration: underline;
   color: #9bc0da;
}

.white-block:first-child{
   margin-left: 0;
}

.foot{
   height: 130px;
   padding-top: 44px;
   background: #ffffff;
   margin-top: 8px;
   text-align: center;
}

.f-phone{
   display: inline-block;
   font-size: 21px;
   margin-right: 5px;
   font-family: PFDinTextCondProMedium;
}

.f-addr{
   display: inline-block;
   font-size: 21px;
   font-family: PFDinTextCondProRegular;
}

.af-foot{
   font-family: PFDinTextCondProRegular;
   font-size: 15px;
   line-height: 26px;
   color: #6c6c6c;
}


.content{
   background: #ffffff;
   margin-top: 20px;
   padding-top: 50px;
   padding-left: 35px;
   padding-bottom: 59px;
}

.head-table{
   height: 78px;
   border-bottom: 2px solid #231f20;
   color: #272727;
   font-size: 18px;
   line-height: 16px;
}

.head-table span{
   color: #7b7b7b;
   font-size: 15px;
   line-height: 20px;
   font-family: PFDinTextCondProRegular;
}

.head-table .one-head{
   padding-top: 33px;
}

.col1{
   float: left;
   width: 438px;
}

.col2{
   float: left;
   width: 198px;
}

.col3{
   float: left;
   width: 174px;
}

.col4{
   float: left;
   width: 150px;
}

.one-row{
   min-height: 78px;
   border-bottom: 1px solid #c8c7c7;
   color: #272727;
   font-size: 16px;
   line-height: 16px;
   font-family: PFDinTextCondProMedium;
}

.one-row a{
   color: #272727;
}

.one-row a:hover{
   color: #9bc0da;
}

.one-col{
   padding-top: 33px;
}

.more-button{
   background: url('../img/basket-more.png');
   width: 29px;
   height: 29px;
   cursor: pointer;
   margin-top: -10px;
}

.more-button:hover{
   opacity: 0.57;
}

.more-button.active{
   opacity: 0.57;
   background: url('../img/basket-more-active.png');
}

.more-button.active:hover{
   opacity: 0.4;

}

.col-more{
   float: right;
   width: 47px;
}

.product-list{
   padding-top: 60px;
   display: none;
   padding-bottom: 70px;
}

.one-product{
   float: left;
   width: 176px;
   margin-right: 27px;
}

.title-prod{
   font-size: 17px;
   line-height: 24px;
   color: #231f20;
   font-family: PFDinTextCondProMedium;
   margin-top: 15px;
}

.title-prod a{
   color: #231f20;
   text-decoration: none;
}

.title-prod a:hover{
   color: #9bc0da;
}

.black-line{
   width: 31px;
   height: 4px;
   margin: 7px 0 7px 0;
   background: #231f20;
}

.price-product{
   font-size: 17px;
   color: #231f20;
   font-family: PFDinTextCondProMediumBold;
}

.delete-button{
   background: url('../img/delete-button.png');
   width: 26px;
   height: 26px;
   cursor: pointer;
   position: absolute;
   margin: 8px 0 0 142px;
}

.delete-button:hover{
   opacity: 0.57;
}

.counter-basket{
   border: 1px solid #c8c7c7;
   width: 99px;
   height: 31px;
   line-height: 31px;
   text-align: center;
   font-family: PFDinTextCondProMediumBold;
   font-size: 16px;
}

.minus, .plus{
   color: #c8c7c7;
   cursor: pointer;
   font-size: 29px;
   font-family: PFDinTextCondProMedium;
}

.count{
   color: #0d0d0d;
   margin: 0 15px;
}


.form-pred{
   background: #ffffff;
   padding: 35px 0 0 35px;
   margin-top: 20px;
}

h3{
   color: #231f20;
   font-size: 30px;
   font-family: PFDinTextCondProMedium;
}

h4{
   color: #231f20;
   font-size: 28px;
   text-transform: uppercase;
   font-family: PFDinTextCondProMedium;
   margin-bottom: 30px;
}

.form-pred p{
   color: #7b7b7b;
   font-size: 17px;
   margin-top: 10px;
   font-family: PFDinTextCondProRegular;
   margin-bottom: 30px;
}

input{
   width: 455px;
   height: 38px;
   border: 1px solid #c8c7c7;
   line-height: 38px;
   padding: 0 19px;
   float: left;
   margin-bottom: 15px;
   font-size: 15px;
   font-family: PFDinTextCondProRegular;
   color: #272727;
}

textarea{
   width: 423px;
   height: 102px;
   border: 1px solid #c8c7c7;
   padding: 26px 20px 20px 20px;
   float: right;
   font-size: 17px;

   font-family: PFDinTextCondProMedium;
   color: #969696;
   line-height: 28px;
   text-align: left;
   margin-right: 32px;
}

.form-pred .blue-button{
   margin: 20px 0 25px 0;
}


.inner-banner{
   width: 257px;
   height: 481px;
   float: left;
}

.content .service{
   width: 242px;
   height: 240px;
}

.service img{
   width: 100%;
}


.inner-banner .blue-button{
   position: absolute;
   margin: 283px 0 0 23px;
   width: 145px;
   text-align: center;
}

.inner-banner .text-addr{
   color: #111617;
   font-size: 16px;
   line-height: 26px;
   font-family: PFDinTextCondProRegular;
   position: absolute;
   width: 200px;
   margin-left: 23px;
   margin-top: 393px;

}

.new-pr{
   margin-top: 20px;
   border-top: #231f20 solid 5px;
   padding: 35px 0 20px 35px;
   background: #ffffff;
}

.newtitle{
   font-size: 38px;
   font-family: PFDinTextCondProMediumItalic;
   color: #231f20;
   margin-bottom: 30px;
}

.new-one-product{
   width: 225px;
   float: left;
   margin-right: 28px;
}

.product-ph .blue-button{
   position: absolute;
   margin-top: 118px;
   display: none;
   margin-left: 17px;
}

.new-one-product .title-prod{
   font-size: 16px;
   line-height: 22px;
}

.product-ph:hover .blue-button{
   display: block;
}

.left-white-block{
   padding: 67px 0 0 35px;
   width: 391px;
   height: 128px;
   background: #ffffff;
   margin-top: 10px;
   float: left;
}

.right-white-block{
   padding: 67px 0 0 35px;
   width: 582px;
   height: 128px;
   background: #ffffff url('../img/bg1.png');
   margin-top: 10px;
   float: right;

}

.black-text{
   font-family: PFDinTextCondProMedium;
   color: #231f20;
   font-size: 21px;
   line-height: 47px;

}

.black-text a{
   color: #231f20;
   text-decoration: none;
}

.black-text a:hover{
   color: #9bc0da;
}

.gray-addr{
   font-family: PFDinTextCondProRegular;
   font-size: 18px;
   line-height: 30px;
   color: #231f20;
}

.black-phone{
   font-family: PFDinTextCondProMediumBold;
   font-size: 18px;
   line-height: 30px;
   color: #231f20;
}

.text-a-menu{
   position: absolute;
   margin: 40px 0 0 40px;
}

.title-cat{
   font-size: 27px;
   line-height: 30px;
   font-family: PFDinTextCondProMedium;
   color: #231f20;

}

.submenu-items{
   margin-top: 43px;

}

.submenu-item{
   line-height: 27px;
   margin-right: 30px;
}

.submenu-item span{
   background: url('../img/small-white-shape.png');
   width: 27px;
   height: 27px;
   line-height: 27px;
   display: inline-block;
   text-align: center;
   margin-left: 8px;
}

.submenu-item a{
   color: #111617;
   font-size: 18px;
}

.submenu-item a:hover{
   color: #9bc0da;
}

.submenu-item.active a{
   font-family: PFDinTextCondProMedium;
}

.way{
   border-left: 107px solid #231f20;
   padding-left: 15px;
   font-size: 15px;
   position: absolute;
   margin-top: -50px;
   font-family: PFDinTextCondProMedium;
   padding-top: 16px;
   line-height: 10px;
}

.catalog .new-one-product{
   margin-top: 35px;
}

.star{
   position: absolute;
   width: 36px;
   height: 36px;
   margin: 8px 0 0 170px;
   cursor: pointer;
   background: url('../img/star2.png');
}

.star.active{
   background: url('../img/star1.png');
}

.photogallery{
   width: 421px;
   float: left;
   margin-top: 30px;
}

.big-photo{
   padding:  0 5px;
   width: 401px;
   height: 452px;
   -webkit-transition-duration: 0.96s;
   -moz-transition-duration: 0.96s;
   -o-transition-duration: 0.96s;
   -ms-transition-duration: 0.96s; /* IE9+ */
   transition-duration: 0.96s;
}

.preview{
   width: 79px;
   height: 79px;
   float: left;
   cursor: pointer;
   margin-right: 5px;
   margin-top: 6px;
}

.preview img{
   width: 100%;
}

.right-tab{
   float: right;
   width: 540px;
   margin-top: 30px;
}

.tab{
   float: left;
   margin-right: 38px;
   color: #272727;
   opacity: 0.44;
   font-size: 20px;
   cursor: pointer;
   line-height: 30px;
   font-family: PFDinTextCondProMedium;
}

.tab:hover{
   color:#9bc0da;
   opacity: 1;
}

.tab.active:hover{
   color: #272727;
}

.tab.active{
   opacity: 1;
   color: #272727;
}

.black-line-tab{
   width: 55px;
   height: 5px;
   display: none;
   background: #231f20;
}

.tab.active .black-line-tab{
   display: block;
}

.tab-content, .tab-content p{
   font-family: PFDinTextCondProMedium;
   color: #272727;
   line-height: 24px;
   font-size: 18px;
   margin-top: 30px;

   margin-bottom: 30px;
}

.tab-content{
   display: none;
}

.tab-content.active{
   display: block;
}

.tab-content p{
   width: 95%;
}

.left-table{
   width: 387px;
   float: left;
   margin-top: 5px;
}

.black-big-line{
   width: 363px;
   height: 1px;
   background: #231f20;
}

.right-table{
   float: right;
   width: 130px;
   margin-top: 5px;
}

.black-small-line{
   width: 130px;
   height: 1px;
   background: #231f20;
}

.color-range{
   margin-top: 30px;
   height: 30px;
   line-height: 30px;

}

.one-color{
   display: inline-block;
   width: 28px;
   height: 28px;
   opacity: 0.5;
   border-radius: 16px;
   -moz-border-radius: 16px;
   -webkit-border-radius: 16px;
   cursor: pointer;
   border: 2px #ffffff solid;
}

.one-color.active{
   opacity: 1;
   border: 2px #ffffff solid;
}

.one-color:hover{
   opacity: 1;
}

p.gray{
   font-family: PFDinTextCondProRegular;
   opacity: 0.61;
   font-size: 16px;
   line-height: 20px;
   margin: 20px 0;
}

.black10{
   height: 10px;
   background: #231f20;
}

.price1{
   font-size: 20px;
   font-family: PFDinTextCondProMedium;
   float: left;
   margin-right: 25px;
   margin-top: 20px;
   margin-bottom: 20px;
}

.price1 span{
   font-family: PFDinTextCondProMediumBold;
}

.description p{
   line-height: 27px;
   font-size: 18px;
   color: #272727;
   margin-top: 20px;
}

.title-descr{
   font-family: PFDinTextCondProMedium;
   font-size: 29px;
}

.description{
   margin-bottom: 30px;
}

.one-level{
   border: 1px solid #c8c7c7;
   margin-right: 35px;
   margin-top: -1px;
}

.title-level{
   height: 69px;
   line-height: 69px;
   color: #272727;
   font-size: 21px;
   margin-left: 35px;
}

.more-button-level{
   background: url('../img/basket-more.png');
   width: 29px;
   height: 29px;
   cursor: pointer;
   margin: 17px 0 0 934px;
   position: absolute;
}

.more-button-level:hover{
   opacity: 0.57;
}

.more-button-level.active{
   opacity: 0.57;
   background: url('../img/basket-more-active.png');
}

.more-button-level.active:hover{
   opacity: 0.4;

}

.level2{
   display: none;
   padding-bottom: 35px;
}

.level2 p{

   padding: 0 35px;
}


.slider-level{
   height: 340px;
   margin-top: 30px;
}

.left-level{
   background: url('../img/left-level.png');
   width: 36px;
   height: 68px;
   cursor: pointer;
   position: absolute;
   margin-top: 136px;
}

.left-level:hover{
   opacity: 0.6;
}

.right-level{
   background: url('../img/right-level.png');
   width: 36px;
   height: 68px;
   cursor: pointer;
   position: absolute;
   margin-top: 136px;
   margin-left: 945px;
}

.right-level:hover{
   opacity: 0.6;

}

.slider-relative{
   overflow: hidden;
   position: relative;
   margin-left: 47px;
   margin-right: 35px;
   height: 340px;
}

.level-one-sl{
   width: 164px;
   margin-right: 16px;
   float: left;
}

.slider-img{
   cursor: pointer;
}

.slider-img:first-child{
   margin-bottom: 16px;
}

p a{
   color: #9bc0da;
}

p a:hover{
   color: #231f20;
}

p b{
   font-family: PFDinTextCondProMedium;
}

.p-for-level{
   margin-top: 30px;
}

.all-sliders{
   width: 999999px;
}

.to-basket{
	width: 116px;
}

.for-zak{
   background: url('../img/rectangle.png') no-repeat scroll 0 50%;
   padding-left: 20px;
   margin-top: 30px;
}

.small-ph{
   margin-top: 13px;
   margin-bottom: 13px;
   float: left;
}

.gray-line{
   width: 100%;
   background: #c3c2c3;
   height: 2px;
}

.title-and-price{
   float: left;
   margin: 23px 0 0 25px;
   width: 360px;
}

.black-line-dop{
   width: 55px;
   height: 5px;
   background: #231f20;
   margin-top: 5px;
   margin-bottom: 5px;
}

.plus-dop{
   background: url('../img/plus-dop.png') no-repeat;
   height: 35px;
   width: 35px;
   float: left;
   cursor: pointer;
   margin-top: 36px;
}

.plus-dop.active{
   background: url('../img/minus-dop.png') no-repeat;
}

.del-bas-button{
   height: 29px;
   width: 29px;
   background: url('../img/minus-dop.png') no-repeat;
   cursor: pointer;
   position: absolute;
   background-size: cover;
   margin: -10px 0 0 -35px;
}

.del-bas-button:hover{
   opacity: 0.8;
}

.plus-dop:hover{
   opacity: 0.7;
}

.big-color{
   width: 146px;
   height: 146px;
   border: 1px solid #c3c2c3;
   position: absolute;
   z-index: 999;
   background: #ffffff;
}

.big-color .col1{
   width: 118px;
   height: 118px;
   border-radius: 59px;
   -moz-border-radius: 59px;
   -webkit-border-radius: 59px;
   margin: 13px;
}

.konstr{
   font-size: 16px;
   font-family: PFDinTextCondProMedium;
   color: #939393;
   margin-top: 42px;
   margin-bottom: 15px;

}


.konstr-img{

   margin-bottom: 30px;
   display: inline-block;
   cursor: pointer;
}

.konstr-img:hover{
   border: 4px solid #231f20;
   margin: -4px -4px 26px -4px;
}

.vimeo-video{
   margin: 35px 0;
}

.to-col{
   width: 420px;
   float: left;
   padding-left: 65px;
   margin-bottom: 30px;
   
}

.to-col:nth-child(even){
   float: right;
}

.cols{
   margin-right: 35px;
}

.num{

  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  font-family: PFDinTextCondProMediumBold;
  color: #ffffff;
  background: #000000;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  margin-left: -47px;
}